{{ form_start(form) }}
  <div class="col-md-12 mt-3 mb-3">
    <div class="input-group">
      <div class="form-group col-md-5 offset-md-1">
        {{form_label(form.codigo, null, {'label_attr': {'class': 'input-group-text'}})}}
        {{form_widget(form.codigo, {'attr': {'class': 'form-control'}})}}
      </div>
      <div class="form-group col-md-5">
        {{form_label(form.precioCompra, null, {'label_attr': {'class': 'input-group-text'}})}}
        {{form_widget(form.precioCompra, {'attr': {'class': 'form-control'}})}}
      </div>
    </div>
    <div class="input-group">
      <div class="form-group col-md-5 offset-md-1">
        {{form_label(form.marca, null, {'label_attr': {'class': 'input-group-text'}})}}
        <div class="input-group-prepend">
          {{form_widget(form.marca, {'attr': {'class': 'form-control'}})}}
          <button type="button" name="button" onclick="Mostrar('agregar-marca')" class="btn-primary">+</button>
        </div>
      </div>
      <div class="form-group col-md-5">
        {{form_label(form.descripcion, null, {'label_attr': {'class': 'input-group-text'}})}}
        <div class="input-group-prepend">
          {{form_widget(form.descripcion, {'attr': {'class': 'form-control'}})}}
          <button type="button" name="button" onclick="Mostrar('agregar-descripcion')" class="btn-primary">+</button>
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="form-group col-md-5 offset-md-1">
        {{form_label(form.precioEfectivo, null, {'label_attr': {'class': 'input-group-text'}})}}
        {{form_widget(form.precioEfectivo, {'attr': {'class': 'form-control'}})}}
      </div>
      <div class="form-group col-md-5">
        {{form_label(form.precioTarjeta, null, {'label_attr': {'class': 'input-group-text'}})}}
        {{form_widget(form.precioTarjeta, {'attr': {'class': 'form-control'}})}}
      </div>
    </div>
    <div class="input-group">
      <!-- {# <div class="form-group col-md-2 offset-md-1">
        {{form_label(form.estado, null, {'label_attr': {'class': 'input-group-text'}})}}
				{{form_widget(form.estado, {'attr': {'class': 'form-control'}})}}
      </div>#} -->
			<div class="col-md-2 col-md-2 offset-md-1">
				<div class="input-group">
					<div class="input-group-prepend">
						{{form_label(form.estado, null, {'label_attr': {'class': 'input-group-text'}})}}
					</div>
					<div class="input-group-text">
						{{form_widget(form.estado)}}
					</div>
				</div>
			</div>
      <div class="form-group col-md-4">
        {{form_label(form.stock, null, {'label_attr': {'class': 'input-group-text'}})}}
        {{form_widget(form.stock, {'attr': {'class': 'form-control'}})}}
      </div>
      <div class="form-group col-md-4">
        {{form_label(form.codigoBarra, null, {'label_attr': {'class': 'input-group-text'}})}}
        {{form_widget(form.codigoBarra, {'attr': {'class': 'form-control'}})}}
      </div>
    </div>

    </div>
    <div class="row align-items-center justify-content-center mb-3">
			<a href="{{ path('producto_index') }}" class="btn btn-danger width7em mr-1" onclick="return confirm('¿Estas segura que deseas cancelar la carga de este producto?');">Cancelar</a>
      <button class="btn btn-primary width7em ml-1">{{ button_label|default('Crear') }} <i class="material-icons align-bottom">check</i></button>
    </div>

  </div>
{{ form_end(form) }}

<script type="text/javascript">

function Esconder(id) {
document.getElementById(id).style.visibility="hidden";
}
function Mostrar(id) {
document.getElementById(id).style.visibility="visible";
}
</script>
<div id='agregar-marca'  class="formularios-agregar">
  <h1 class="titulo">Agregar Marca</h1>
  {{ form_start(formMarca)}}
  <div class="input-group input-group-lg mb-5">
    <div class="input-group-prepend m-auto">
      <span class="input-group-text span-group" style="background-color:#FFE4E1" id="basic-addon3" required >Marca</span>
      {{ form_widget(formMarca, {'attr':{'class':'form-control', 'placeholder':'Descripcion'}})}}
    </div>
  </div>
  <div class="col-md-4 m-auto">
    <button onclick="Esconder('agregar-marca')" type="reset" class="btn btn-lg btn-info" style="float: left;">Cancelar</button>
    <button type="submit" class="btn btn-lg " style="float: right;background-color:#F8BBD0">Guardar</button>
  </div>
  {{ form_end(formMarca, {'attr':{'class':'d-flex flex-row justify-content-center align-items-center'}})}}
</div>

<div id='agregar-descripcion'  class="formularios-agregar">
  <h1 class="titulo">Agregar descripcion</h1>
  {{ form_start(formDescripcion)}}
  <div class="input-group input-group-lg mb-5">
    <div class="input-group-prepend m-auto">
      <span class="input-group-text span-group" style="background-color:#FFE4E1" id="basic-addon3">Descripcion</span>
      {{ form_widget(formDescripcion, {'attr':{'class':'form-control', 'placeholder':'Descripcion'}})}}
    </div>

  </div>
  <div class="col-md-4 m-auto">
    <button onclick="Esconder('agregar-descripcion')" type="reset" class="btn btn-lg btn-info" style="float: left;">Cancelar</button>
    <button type="submit" class="btn btn-lg " style="float: right;background-color:#F8BBD0">Guardar</button>
  </div>
  {{ form_end(formDescripcion)}}
</div>
