{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('dataTables.css', 'css') }}">
<link rel="stylesheet" href="{{ asset('dataTables.min.css', 'css') }}">
<script src="{{ asset('dataTables.js', 'js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#productos').DataTable({
            "lengthChange" : false,
            "paging" : true,
            "pageLength" : 10
        });
    } );
</script>
{% endblock %}

{% block body %}
    <h1>Productos</h1>
    <a href="{{ path('exportar_pdf') }}" class='btn btn-info'>Exportar a PDF<i class="material-icons align-bottom">file_download</i></a>
    <a href="{{ path('exportar_json') }}" class='btn btn-info'>Exportar a JSON<i class="material-icons align-bottom">file_download</i></a>
    <a href="{{ path('producto_new') }}" class='btn btn-success'>Agregar Producto<i class="material-icons align-bottom">add</i></a>
    <table class="table table-striped" id="productos">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Codigo</th>
                <th>Marca</th>
                <th>Descripcion</th>
                <th>PrecioEfectivo</th>
                <th>PrecioTarjeta</th>
                <th>PrecioCompra</th>
                <!-- <th>Estado</th>
                <th>Stock</th>
                <th>CodigoBarra</th> -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <!-- <td>{#{{ producto.id }}#}</td> -->
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.marca.descripcion }}</td>
                <td>{{ producto.descripcion.descripcion }}</td>
                <td>{{ producto.precioEfectivo }}</td>
                <td>{{ producto.precioTarjeta }}</td>
                <td>{{ producto.precioCompra }}</td>
                <!-- <td>{{ producto.estado ? 'Yes' : 'No' }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.codigoBarra }}</td> -->
                <td>
                    <a href="{{ path('producto_show', {'id': producto.id}) }}" class="btn btn-primary">Ver <i class="material-icons align-bottom">remove_red_eye</i>
                  	</a>
                    <a href="{{ path('producto_edit', {'id': producto.id}) }}" class='btn btn-info'>Editar <i class="material-icons align-bottom">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No hay productos cargados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
