<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Productos</title>
    <style media="screen">
      .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
      }
      table {
        border-collapse: collapse;
      }
      .table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
      }
      .table th,
      .table td {
        padding: 0.5rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
      .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
      }
      .table tbody + tbody {
        border-top: 2px solid #dee2e6;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Productos</h1>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Codigo</th>
                  <th>Marca</th>
                  <th>Descripcion</th>
                  <th>PrecioEfectivo</th>
                  <th>PrecioTarjeta</th>
                  <th>PrecioCompra</th>
                  <th>Estado</th>
                  <th>Stock</th>
                  <th>CodigoBarra</th>
              </tr>
          </thead>
          <tbody>
          {% for producto in productos %}
              <tr>
                  <td>{{ producto.codigo }}</td>
                  <td>{{ producto.marca.descripcion }}</td>
                  <td>{{ producto.descripcion.descripcion }}</td>
                  <td>{{ producto.precioEfectivo }}</td>
                  <td>{{ producto.precioTarjeta }}</td>
                  <td>{{ producto.precioCompra }}</td>
                  <td>{{ producto.estado ? 'Yes' : 'No' }}</td>
                  <td>{{ producto.stock }}</td>
                  <td>{{ producto.codigoBarra }}</td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="9">No hay productos cargados</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </body>
</html>
