{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}
<div class="container">
  <div class="col-md-8 offset-md-2">
    <h1>Producto</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Codigo</th>
                <td>{{ producto.codigo }}</td>
            </tr>
            <tr>
                <th>PrecioEfectivo</th>
                <td>{{ producto.precioEfectivo }}</td>
            </tr>
            <tr>
                <th>PrecioTarjeta</th>
                <td>{{ producto.precioTarjeta }}</td>
            </tr>
            <tr>
                <th>PrecioCompra</th>
                <td>{{ producto.precioCompra }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ producto.estado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ producto.stock }}</td>
            </tr>
            <tr>
                <th>CodigoBarra</th>
                <td>{{ producto.codigoBarra }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('producto_index') }}" class="btn btn-primary width7em">Volver</a>
    <a href="{{ path('producto_edit', {'id': producto.id}) }}" class="btn btn-success width7em">Editar</a>

    {{ include('producto/_delete_form.html.twig') }}
  </div>
</div>
{% endblock %}
