{{ form_start(form) }}
    {{ form_widget(form, {'attr':{'class': 'm-3'}}) }}
    <div class="mb-3">
      <button class="btn btn-success width7em">{{ button_label|default('Crear') }}</button>
      <a href="{{ path('descripcion_show', {'id': descripcion.id}) }}" class="btn btn-primary width7em">Volver</a>
    </div>
{{ form_end(form) }}
