{{ form_start(form) }}
    {{ form_widget(form, {'attr':{'class': 'm-3'}}) }}
    <div class="mb-3">
      <button class="btn btn-success width7em">{{ button_label|default('Crear') }} <i class="material-icons align-bottom">check</i></button>
      <a href="{{ path('descripcion_index') }}" class="btn btn-danger width7em">Volver  <i class="material-icons align-bottom">arrow_back</i></a>
    </div>
{{ form_end(form) }}
