{% extends 'base.html.twig' %}

{% block title %}Descripciones{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('dataTables.css', 'css') }}">
<link rel="stylesheet" href="{{ asset('dataTables.min.css', 'css') }}">
<script src="{{ asset('dataTables.js', 'js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#descripciones').DataTable({
            "lengthChange" : false,
            "paging" : true,
            "pageLength" : 10
        });
    } );
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="col-md-8 offset-md-2">
    <h1>Descripciones</h1>
    <table class="table table-striped" id="descripciones">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th class="action-col"><a href="{{ path('descripcion_new') }}" class='btn btn-success'>Agregar descripcion<i class="material-icons align-bottom">add</i></a></th>
            </tr>
        </thead>
        <tbody>
        {% for descripcion in descripcions %}
            <tr>
                <td>{{ descripcion.descripcion }}</td>
                <td>
                    <a href="{{ path('descripcion_show', {'id': descripcion.id}) }}" class="btn btn-primary">Ver <i class="material-icons align-bottom">remove_red_eye</i></a>
                    <a href="{{ path('descripcion_edit', {'id': descripcion.id}) }}" class='btn btn-info'>Editar <i class="material-icons align-bottom">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay descripciones cargadas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
