{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Crear') }}</button>
    <a href="{{ path('marca_index') }}" class="btn btn-danger">Volver</a>
{{ form_end(form) }}
