{% extends 'base.html.twig' %}

{% block title %}Marcas{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('dataTables.css', 'css') }}">
<link rel="stylesheet" href="{{ asset('dataTables.min.css', 'css') }}">
<script src="{{ asset('dataTables.js', 'js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#marcas').DataTable({
            "lengthChange" : false,
            "paging" : true,
            "pageLength" : 10
        });
    } );
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="col-md-8 offset-md-2">
    <h1>Marcas</h1>
    <table class="table table-striped" id="marcas">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th class="action-col"><a href="{{ path('marca_new') }}" class='btn btn-success'>Agregar marca<i class="material-icons align-bottom">add</i></a></th>
            </tr>
        </thead>
        <tbody>
        {% for marca in marcas %}
            <tr>
                <td>{{ marca.descripcion }}</td>
                <td>
                    <a href="{{ path('marca_show', {'id': marca.id}) }}" class="btn btn-primary">Ver <i class="material-icons align-bottom">remove_red_eye</i></a>
                    <a href="{{ path('marca_edit', {'id': marca.id}) }}" class='btn btn-info'>Editar <i class="material-icons align-bottom">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay marcas cargadas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
