<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ asset('bootstrap.min.css', 'css') }}">
	<link rel="stylesheet" href="{{ asset('own.css', 'css') }}">
	<script src="{{ asset('jquery.min.js', 'js') }}"></script>
	<script src="{{ asset('popper.min.js', 'js') }}"></script>
	<script src="{{ asset('bootstrap.min.js', 'js') }}"></script>
	<link rel="stylesheet" href="{{ asset('material-icons.css', 'css') }}">
	{% block stylesheets %}{% endblock %}
</head>

<body >
	<div id="cont-logo" class="center">
		<a href="/"><img src="{{ asset('freyja_logo.png', 'images') }}" alt="Logo de Freyja" id="logo-freyja"></a>
	</div>
	{% block navbar %}
	<nav class="navbar navbar-expand-lg">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
	    <img src="{{ asset('hm.png', 'images') }}" alt="Menu desplegable" id="hamburger-menu">
	  </button>

	  <div class="collapse navbar-collapse" id="navb">
	    <ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="navbar-brand" href="{{ path('producto_index') }}">Productos</a>
				</li>
				<li class="nav-item">
	        <a class="navbar-brand" href="{{ path('marca_index') }}">Marca</a>
	      </li>
				<li class="nav-item">
					<a class="navbar-brand" href="{{ path('descripcion_index') }}">Descripcion</a>
				</li>
				<li class="nav-item">
					<a class="navbar-brand" href="{{ path('producto_new') }}">Agregar productos</a>
				</li>
				<!-- <li class="nav-item">
					<a class="navbar-brand" href="{{ path('fos_user_security_logout') }}">Cerrar sesion</a>
				</li> -->
	    </ul>
			<div class="collapse navbar-collapse ml-auto" id="navb">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="navbar-brand" href="{{ path('fos_user_security_logout') }}">Cerrar sesion</a>
					</li>
		    </ul>
			</div>
	    <!-- <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
	      <button class="btn btn-info my-2 my-sm-0" type="button">Buscar Producto</button>
	    </form> -->

	  </div>
	</nav>
	{% endblock %}
<div class="container mt-3">
	{% block body %}{% endblock %}
</div>


<footer id="footer" class="page-footer unique-color-dark mt-4">
  <div class="footer-copyright py-3 text-center">
    © 2019 Copyright:
    <a href="https://www.facebook.com/freyja.lenceria.5">
      <strong>Freyja Lenceria</strong>
    </a>
  </div>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>
